<!-- <section class="parallax seccion" >
 <p>SECRETARÍA DE INFRAESTRUCTURA, DESARROLLO URBANO Y MOVILIDAD</p>
 <h2>SIDUM</h2>
</section>

<section    class="parallax seccion2" #seccion2>

  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile  *ngFor="let item of about">
      <mat-card>
        <p>{{item.text}}</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="parallax" #seccion3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam rem cum saepe, quisquam error assumenda corporis impedit nulla obcaecati tempore id itaque ipsum, excepturi cumque! Ipsum voluptate quo autem.
</section>
<section class="parallax" #seccion4>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam rem cum saepe, quisquam error assumenda corporis impedit nulla obcaecati tempore id itaque ipsum, excepturi cumque! Ipsum voluptate quo autem.
</section>
<section class="parallax" #seccion6>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam rem cum saepe, quisquam error assumenda corporis impedit nulla obcaecati tempore id itaque ipsum, excepturi cumque! Ipsum voluptate quo autem.
</section>
<section class="parallax" #seccion7>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate totam rem cum saepe, quisquam error assumenda corporis impedit nulla obcaecati tempore id itaque ipsum, excepturi cumque! Ipsum voluptate quo autem.

<!-- our parallax stuff-->
<div class="container" >
  <div id="content">
    INICIO
      </div>
  </div>

<mat-divider></mat-divider>

<div class="container" >
  <div id="content">
  </div>
  BIENVENIDO
  </div>

  <mat-divider></mat-divider>

  <div class="container"  >
    <div id="content">
      SEMBLANZA
    </div>
    </div>

    <div class="container" >
      <div id="content" >
        GESTION
        </div>
      </div>

      <div class="container" >
        <div id="content">
    ENLACES
          </div>
        </div>
        <div class="container" >
          <div id="content">
      SLIDE
            </div>
          </div>
          <div class="container" >
            <div id="content">
        COMUNICATE
              </div>
            </div>

 <div appParallax [ratio]=".99"  id="verde">
  <p class="subtitulo">SECRETARÍA DE INFRAESTRUCTURA, DESARROLLO URBANO Y MOVILIDAD</p>
  <h2 class="titulo">SIDUM</h2>
 </div>
 <div appParallax [ratio]="-0.09" id="rectangle">
  <div class="container" >
    <div id="content" >
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile  *ngFor="let item of about">
      <mat-card>
        <p>{{item.text}}</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
 </div>
 <div appParallax [ratio]=".99" id="amarillo">
  <h2 class="semblanza">semblanza</h2>



 </div>
 <div appParallax [ratio]="-0.9" id="gestion">
  <h2 class="semblanza">gestion</h2>
 </div>
