section{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.parallax{
  background-color: #C4C0EF;
}
.parallax.seccion h2{
  position: absolute;
  transform: translate(70%,70%);
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5rem;
  line-height: 1rem;
  font-size: 9rem;
  top: 70%;
  text-shadow: #70677ea9 1px 0 10px;
  color: #5C5A70;
}
.parallax.seccion p{
  position: absolute;
  transform: translate(0,90%);
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5rem;
  line-height: 3.5rem;
  font-size: 2.5rem;
  text-shadow: #70677ea9 2px 5px;
  color: #5C5A70;
}

.parallax.seccion2 mat-card p{
  color: #8379F2;
}
.parallax.seccion2 mat-card {
 max-width: 17rem;
 letter-spacing: .1rem;
  line-height: 1.2rem;
text-align: justify;
 font-size: 1rem;

}
