<h2 class="w3-center">Instrumentos relacionados con asentamientos humanos en situación de riesgo por su cercania con actividades extractivas</h2>

<div class="content display-container">
<a href="http://www.atlascoahuila.info/siarc/acceso/frm_acceso.jsp">  <img class="mySlides" src="/assets/img/siarc.jpg" style="max-width:70%; display: block;"></a>

 <a href="https://www.gob.mx/sgm"> <img class="mySlides"  src="/assets/img/sgm.jpg" style="max-width:70%"></a>


  <button class="button black display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="button black display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

