<div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">Mision</div>
      <div class="atras">
        Impulsar el desarrollo del estado, a fin de crear condiciones que propicien el desarrollo sustentable y la
        transformación de Coahuila, mediante la modernización de su infraestructura, en beneficio de su población.
      </div>
    </div>
  </div>

  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">Vision</div>
      <div class="atras"> Un Coahuila con infraestructura de clase mundial, que apoye al desarrollo estatal, en un
        entorno
        eficazmente planificado, propicio para el desarrollo de las actividades económicas y sociales.</div>
    </div>
  </div>

  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">Valores</div>
      <div class="atras">
        <ul>
          <li>Incluyente</li>
          <li>Servicio</li>
          <li>Integrante</li>
          <li>Equidad</li>

          <li>Responsabilidad</li>
          <li>Honestidad</li>
          <li>Transparencia</li>
          <li>Rendicion de Cuentas</li>
        </ul>
      </div>
    </div>
  </div>
</div>
