<div class="content-semblanza">
  <div class="bg-semblanza">

    <div class="semblanza-titular">
      <p class="titular">
        ING. GERARDO ALBERTO BERLANGA GOTÉS</p>
     <img class="img-titular" src="/assets/img/Titular.jpg" alt="">
     <div class="semblanza-descripcion">

      <p class="descripcion-titular">Gerardo Alberto Berlanga Gotés es originario de Torreón, Coahuila, es casado y tiene tres hijos.

      Es Ingeniero Civil egresado del Instituto Tecnológico de Estudios Superiores de Monterrey.

      Ha sido director de Obras Públicas Municipales en Torreón, Subsecretario de Obras Públicas de la Secretaría de Desarrollo Regional de La Laguna.
      </p>
    </div>
    </div>


  </div>
</div>
